@media (max-width: 992px) {
    nav ul {
        position: absolute;
        top: 56px;
        left: 0;
        right: 0;
        gap: 0;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        overflow: hidden;
        z-index: 1;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    nav ul li {
        padding: 14px 0;

    }

    .menu_icon {
        display: block;
    }
}