@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Helvitica;
    src: url(../fonts/Helvitica/Helvetica.ttf);
}

@font-face {
    font-family: Monserate;
    src: url(../fonts/Monserate/static/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Slenco;
    src: url(../fonts/Slenco/Slenco-Black\ demo.otf);
}

@font-face {
    font-family: TitilliumWeb;
    src: url(../fonts/Tiltillam/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/Open/static/OpenSans-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------Colors:------- */

:root {
    --heroText-colour: #0E88D2;
    --about-color: #39A1E1;
    --bg-color: #010815;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --line-color: #ABABAB;
    --unnamed-color: #0067A6;
    --unnamed-color: #042558;
    --unnamed-color: #25225A;
}

main,
footer {
    background-color: var(--bg-color);
}

.header_Section {
    background-color: var(--white-color);
    position: relative;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;

}

.header_wrapper,
.hero_wrapper,
.provide_wrapper,
.sell_wrapper,
.need_wrapper,
.work_wrapper,
.footer_wrapper,
.technology_wrapper {
    padding: 0 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px;
    background: white;
}

nav ul {

    display: flex;
    gap: 50px;
    align-items: center;
    list-style: none;
    transition: all 0.5s;

}

nav ul li {
    position: relative;
}

nav ul li a {
    font-family: OpenSans;
    text-decoration: none;
    color: var(--black-color);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.5px;
    transition: color 0.3s ease;
}

nav ul li::after {
    content: "▲";
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    color: #000;
    opacity: 0;
    transition: all 0.3s ease;
}


nav ul li:hover::after {
    opacity: 1;
}

nav ul li.active::after {
    opacity: 1;
}

.drop_Down {
    display: none;
    transition: all 0.5s;
}

nav ul li:hover .drop_Down {
    display: block;
    position: absolute;
    left: 0%;
    top: 100%;
}

.drop_Down ul {
    display: block;
    margin-top: 20px;
}

.drop_Down ul li {
    padding-top: 4px;
    width: 150px;
}

.drop_Down ul li a {
    font-family: OpenSans;
    font-size: 8px;
    color: var(--white-color);
}

.menu_icon {
    display: none;
    cursor: pointer;
}

.menu_icon i {
    color: var(--black-color);
    font-size: 20px;
    transition: transform 0.3s ease;

}

/*--------HERO_SECTION-------- */

.hero_section {
    background-image: url(../images/Background_V2.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.main_heroDiv {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 140px 0 40px;
}

.contentDiv {
    width: 50%;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.contentDiv h1 {
    color: var(--white-color);
    font-size: 28px;
    font-family: TitilliumWeb;
    line-height: 40px;
}

.contentDiv h1 span {
    color: var(--heroText-colour);
}

.contentDiv p {
    font-family: Poppins;
    font-size: 11px;
    letter-spacing: 1.7px;
    line-height: 24px;
}

.btn {
    width: fit-content;
    position: relative;
    color: var(--white-color);
    font-family: Poppins;
    font-size: 10px;
    letter-spacing: 0.5px;
    text-decoration: none;
    padding: 8px 10px;
    z-index: 2;
}

.btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    background: #0067A6;
    height: 100%;
    border-radius: 50px;
    z-index: -1;
    transition: all 0.4s ease;
    color: #000;
}

.btn:hover::before {
    width: 100%;
}

.car_section {
    width: 50%;
}

.car_section img {
    width: 100%;
    padding-top: 16px;
}

/* ---------PROVIDE-SECTION-------- */

.provide_section {
    padding: 20px 0 100px;
    text-align: center;
    box-shadow: 0px -100px 100px 0px #010815;
}

.heading {
    color: var(--white-color);
    font-family: TitilliumWeb;
    font-size: 24px;
    letter-spacing: 1px;
}

.provide_circle {
    display: flex;
    justify-content: center;
    gap: 34px;
    align-items: center;
    margin-top: 60px;

}

.circle {
    border-radius: 50%;
    border: 5px solid var(--white-color);
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.circle img {
    width: 50px;
}

.circle p {
    color: var(--white-color);
    font-size: 10px;
    font-family: TitilliumWeb;
}



/* .circle>img {
    width: 140px;

} */


/* .inner {
    position: relative;
    top: -110px;
    display: flex;
    align-items: center;
    gap: 18px;
    flex-direction: column;
} */

/* .inner>img {
    width: 50px;
}

.inner p {
    color: var(--white-color);
    font-size: 10px;
    font-family: TitilliumWeb;

}

.inner .big {
    width: 30px;
} */

/* ---------TECHNOLOGY-SECTION-------- */

.imageDiv img {
    width: 100%;
    position: relative;
}

.technology_text {
    top: 16%;
    position: absolute;
}


.technology_text ul {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 26px;
    width: 60%;

}

.technology_text ul li::marker {
    font-size: 16px;
}

.technology_text ul li {
    list-style-position: outside;
    padding-left: 10px;
    font-family: TitilliumWeb;
    font-size: 10px;
    word-spacing: 1px;
    color: var(--white-color);
    line-height: 26px;
    letter-spacing: 0.4px;
}

.technology_car {
    width: 50%;
}

.technology_car img {
    width: 100%;
}

/* --------------SELL-SECTION------------ */

.sell_section h1 {
    margin-top: 80px;
    text-align: center;
}

.sellDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

}

.sell_content {
    display: flex;
    gap: 14px;
    flex-direction: column;
    margin-top: 100px;
}

.sell_head {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sell_head img {
    width: 30px;
}

.sell_head h2 {
    font-family: TitilliumWeb;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--white-color);

}

.sell_content p {
    font-family: Poppins;
    letter-spacing: 0.4px;
    line-height: 24px;
    font-size: 10px;
    color: var(--white-color);
    padding-left: 50px;
}

/* ----------NEED-SECTION--------- */

.need-section {
    padding: 100px 0;
}

.need_mainDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.need_leftSide {
    position: relative;
    width: 50%;

}

.need_outer_circle {
    border: 6px solid white;
    width: 330px;
    height: 330px;
    border-radius: 50%;

}

.need_innerDiv {
    background-color: var(--bg-color);
    position: absolute;
    bottom: -24px;
    left: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

}

.need_innerDiv p {
    width: 52%;
    font-family: Poppins;
    color: var(--white-color);
    font-size: 9px;
    line-height: 20px;
}

.need_innerDiv img {
    width: 340px;

}

.need_rightSide {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 34%;
}


.need_rightSide p {
    font-family: Poppins;
    color: var(--white-color);
    font-size: 11px;
    letter-spacing: 0.4px;
    line-height: 26px;
}

/*--------- WORK-SECTION------- */

.work_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.work_text p {
    font-family: Poppins;
    color: var(--white-color);
    font-size: 11px;
    letter-spacing: 0.4px;
    margin: 0 19%;
    text-align: center;
}

.work_mainDiv {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 80px 0;
}

.work_leftSide {
    width: 26%;
}

.work_rightSide {
    width: 30%;
}

.work_leftSide h2,
.work_rightSide h2 {
    font-family: TitilliumWeb;
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--white-color);

}

.work_leftSide ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 30px;

}

.work_leftSide ul li::marker,
.work_rightSide ul li::marker {
    font-size: 18px;
}

.work_leftSide ul li,
.work_rightSide ul li {
    font-family: TitilliumWeb;
    font-size: 10px;
    word-spacing: 1px;
    color: var(--white-color);
    line-height: 26px;
    letter-spacing: 0.4px;
}

.work_rightSide ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 30px;

}

/* ------FOOTER-SECTION------ */

.footer_section {
    border-top: 1px solid var(--line-color);
}

.footerDiv {
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer_logo img {
    width: 200px;
}



.footer_about h3,
.footer_connect h3 {
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 26px;
    color: var(--white-color);
    font-family: Poppins;
}

.footer_links {
    display: flex;
    gap: 40px;
}

.footer_links div {
    display: flex;
    flex-direction: column;
    gap: 18px;


}

.footer_links a {
    color: var(--white-color);
    font-size: 10px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
    letter-spacing: 0.6px;
    font-family: Helvitica;
}

.footer_links a:hover {
    color: var(--about-color);
}



.footer_connect ul {
    list-style: none;
}

.footer_connect li {
    font-size: 10px;
    transition: 0.3s;
    color: var(--white-color);
    margin-bottom: 10px;
    font-family: Poppins;
}

.footer_connect i {
    margin-right: 8px;
    color: #fff;
}

.footer_connect li:hover {
    color: var(--about-color);
}


.copyRightDiv p {
    color: var(--white-color);
    text-align: center;
    font-family: Monserate;
    font-size: 10px;
    padding: 16px 0;
    letter-spacing: 0.4px;
}